# Week one Assignment Solution

In [3]:
# Q1 Simple variable assignment
x =10
print(x)

10

In [4]:
# Q2
age = 25
height = 5.9
name = "John"
is_active = True

print(age)
print(height)
print(name)
print(is_active)

25
5.9
John
True

In [5]:
# Q3 
a = 7
b = 9
sum = a + b
print(sum)

16

In [9]:
# Q4
first_name = "Alice"
last_name = "Wonderland"

full_name = first_name + " " +last_name
print(full_name)

Alice Wonderland

In [11]:
#Q5

x = "Hello"

print(type(x))

<class 'str'>

In [14]:
#Q6
a = 10
b = 5
a,b = b, a
print("a =",a)
print("b = ",b)

a = 5
b =  10

In [16]:
#Q7
x = 15
y = 4

print("Addition: ",x+y)
print("Subtraction: ",x-y)
print("Multiplication: ",x*y)
print("Division: ",x/y)
print("Modulus: ",x%y)

Addition:  19
Subtraction:  11
Multiplication:  60
Division:  3.75
Modulus:  3

In [18]:
#Q8
x,y,z = 1,2,3
print(x)
print(y)
print(z)

1
2
3

In [19]:
#Q9
counter = 10
counter += 5
counter -= 3
print(counter)

12

In [20]:
#Q10
x = 100
x = 50

print(x)

50

In [23]:
#Q11
name = input("Enter your name: ")
print("Hello",name,"You are welcome")

Hello Anas Garba Baba You are welcome

In [26]:
#Q12
num_str = "42"
num = int(num_str)
print(num)

42

In [28]:
#Q13
num = 100
num_str = str(num)
print(num_str)

<class 'str'>

In [29]:
#Q14
fruits = ["apple","banana","cherry"]
favorite_fruit = fruits[0]
print(favorite_fruit)

apple

In [30]:
#Q15
message = "Hello, Python!"
length = len(message)
print(length)

14

In [31]:
#Q16
a = 3.14
b = 2.71

add = a + b
sub = a - b
mult = a * b
print(add)
print(sub)
print(mult)

5.85
0.43000000000000016
8.5094

In [32]:
#Q17
first_name = "John"
last_name = "Doe"
print("Hello, "+first_name + " " + last_name + "!")

Hello, John Doe!

In [34]:
#Q18 
age = 25
name = "Alice"
print("My name is " +name+"and I am " + str(age) + " years old.")

My name is Aliceand I am 25 years old.

In [35]:
#Q19
PI = 3.14159
print(PI)

# because python does not have a keyword, there it is recomended to make constant written all in capital letter

3.14159

In [38]:
#Q20
person = {
    "name":"Alice",
    "age":25
}
age_value = person["age"]
print(age_value)

25

In [42]:
#Q21
x = 10
def myfunc():
    x = 5
    return x

print("global x is: ", x)
print("local x is:", myfunc() )

global x is:  10
local x is: 5

In [44]:
#Q22 
x = 5
y = 10
x,y = y,x
print("x = ",x)
print("y = ",y)

x =  10
y =  5

In [49]:
#Q23
is_sunny = True
is_raining = False

print(is_sunny and  is_raining)

False

In [51]:
#Q24

x = "100"
y = "50"
z = "30"

sum = int(x) + int(y) + int(z)
print(sum)

180

In [53]:
#Q25

sentence = "Python is awesome"
new_sentence = sentence.replace("awesome","cool")
print(new_sentence)

Python is cool

In [54]:
#Q26
person = {
    "name":"Bob",
    "age": 30,
}
person_name  = person["name"]
person_age = person["age"]
print(person_name)
print(person_age)

Bob
30

In [57]:
#Q27
def greet(name):
    print(f"Hello, {name}!")

greet("Anas Garba Baba")

Hello, Anas Garba Baba!

In [58]:
#Q28

text = "apple apple banana apple"
apple_count = text.count("apple")
print(apple_count)

3

In [59]:
#Q29

def add_numbers(a, b):
    result = a + b
    return result

print(add_numbers(a=5,b=7))

12

In [60]:
#30

numbers = [1,2,3,4,5]
doubled_numbers = []
for i in numbers:
    doubled_numbers.append(i*2)

print(doubled_numbers)

[2, 4, 6, 8, 10]